*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
*.bat
*.bak
target
*.class
.bzr
*.log
classes
.sass-cache
.DS_Store
eclipse_workspace_settings.epf
userScripts/**
scripts/**
file/**
bin/
*.hprof
*.hprof.index
build.info
*.sql
*.gz
prodDb.h2.db
.classpath
.project
.screen.css
