.wrapper, .clearfix, .half, .full, .row
  +pie-clearfix
  
.wrapper
  margin: 0 auto
  position: relative
  width: 1000px
  
.left
  display: inline
  float: left
  
.right
  display: inline
  float: right
  
.inline
  display: inline
  
#content
  background: url('../images/bg-body.png') repeat-x top center
  
  .main
    background: #fff
    border: 1px solid rgba(0, 0, 0, 0.1)

.clearfix
  clear: both
  
.full
  width: 100%

.half
  float: left
  width: 50%
