// Compass imports
@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

// Custom colors
$primary                    : #258cd5
$primary_alt                : #1e83cb
$primary_dark               : #1f7cbd
$primary_light              : #238eda
$dropdown                   : #cfe4f4
$yes                        : #65c029
$no                         : #d30000
$gray                       : #444444
$filler                     : #e9f4fc
$filler2                    : #F6FDEB
$filler3                    : #f4e9e9

// DroidSans typeface
@font-face
	font-family: 'Droid'
	src: url('../fonts/DroidSans.eot')
	src: local('☺'), url('../fonts/DroidSans.woff') format('woff'), url('../fonts/DroidSans.ttf') format('truetype'), url('../fonts/DroidSans.svg') format('svg')
	font-weight: normal
	font-style: normal
	
@font-face
	font-family: 'Droid-Bold'
	src: url('../fonts/DroidSans-Bold.eot')
	src: local('☺'), url('../fonts/DroidSans-Bold.woff') format('woff'), url('../fonts/DroidSans-Bold.ttf') format('truetype'), url('../fonts/DroidSans-Bold.svg') format('svg')
	font-weight: normal
	font-style: normal
